openapi: 3.2.0
info:
  title: Beyond Identity Secure Access Launch Mechanisms API
  version: 1.7.0
  contact:
    email: support@beyondidentity.com
  description: '# Introduction


    **NOTE:** To determine if you are accessing the Secure Access Platform, check the URL of your Admin Console.'
servers:
- url: https://api-us.beyondidentity.com
  description: US region API base URL
- url: https://api-eu.beyondidentity.com
  description: EU region API base URL
- url: https://api.us1.beyondidentity-gov.com/
  description: US FedRAMP API base URL
security:
- BearerAuth: []
tags:
- name: Launch Mechanisms
  description: Launch mechanisms, or flow type configurations, define which authentication launch mechanisms are enabled and valid for different platforms (Android, iOS, macOS, Windows, Web, Linux, ChromeOS) within a tenant. These configurations control which authentication methods end users can use on different devices and platforms.
paths:
  /v1/tenants/{tenant_id}/realms/{realm_id}/flow-type-config:
    get:
      tags:
      - Launch Mechanisms
      summary: Get flow type configuration
      description: Retrieves the flow type configuration for a tenant or creates a default configuration if one does not exist
      operationId: GetFlowTypeConfig
      security:
      - DirectoryAuth:
        - tenants:read
        - realms:read
        - flow-type:read
        - flow-type:create
      parameters:
      - $ref: '#/components/parameters/tenant_id'
      - $ref: '#/components/parameters/realm_id'
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowTypeConfig'
        '400':
          description: 'Bad request. If the request failed due to invalid fields, the error details will include a FieldViolations.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: 'Permission denied. The error details will include a ResourceInfo describing the authorization failure.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'Not found. The error details will include a ResourceInfo describing the required resource that was not found.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: 'Already exists. The error details will include a ResourceInfo describing the conflicting resource.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
      - Launch Mechanisms
      summary: Update flow type configuration
      description: Updates the flow type configuration for a tenant, note that this will also create a default configuration if one does not exist
      operationId: UpdateFlowTypeConfig
      security:
      - DirectoryAuth:
        - tenants:read
        - realms:read
        - flow-type:read
        - flow-type:create
        - flow-type:update
      parameters:
      - $ref: '#/components/parameters/tenant_id'
      - $ref: '#/components/parameters/realm_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePlatformFlowTypeConfig'
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowTypeConfig'
        '400':
          description: 'Bad request. If the request failed due to invalid fields, the error details will include a FieldViolations.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: 'Permission denied. The error details will include a ResourceInfo describing the authorization failure.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'Not found. The error details will include a ResourceInfo describing the required resource that was not found.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: 'Already exists. The error details will include a ResourceInfo describing the conflicting resource.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  parameters:
    realm_id:
      name: realm_id
      in: path
      description: A unique identifier for a realm.
      required: true
      schema:
        type: string
        example: 19a95130480dfa79
    tenant_id:
      name: tenant_id
      in: path
      description: A unique identifier for a tenant.
      required: true
      schema:
        type: string
        example: 000176d94fd7b4d1
  schemas:
    FlowTypeConfig:
      title: FlowTypeConfig
      description: Flow type configuration for a tenant
      type: object
      properties:
        id:
          type: string
          description: 'ID of the flow type configuration. This is automatically generated on creation. This field is immutable and output-only.

            '
          minLength: 1
          readOnly: true
        tenant_id:
          type: string
          description: ID of the tenant this configuration belongs to
          readOnly: true
        realm_id:
          type: string
          description: ID of the realm this configuration belongs to
          readOnly: true
        create_time:
          type: string
          format: date-time
          description: Timestamp when the flow type configuration was created
          readOnly: true
        update_time:
          type: string
          format: date-time
          description: Timestamp when the flow type configuration was last updated
          readOnly: true
        platform_config:
          $ref: '#/components/schemas/PlatformFlowTypeConfig'
      required:
      - id
      - tenant_id
      - realm_id
      - create_time
      - update_time
      - platform_config
    Error:
      type: object
      properties:
        code:
          type: string
          description: 'Human-readable HTTP status code name, stylized as lower snake case (e.g. bad_request).

            '
        message:
          type: string
          description: 'Human-readable message describing the error.

            '
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
      required:
      - code
      - message
    UpdatePlatformFlowTypeConfig:
      title: UpdatePlatformFlowTypeConfig
      description: Platform-specific flow type configurations for updates
      type: object
      properties:
        android:
          $ref: '#/components/schemas/UpdateFlowTypeSet'
        macos:
          $ref: '#/components/schemas/UpdateFlowTypeSet'
        ios:
          $ref: '#/components/schemas/UpdateFlowTypeSet'
        windows:
          $ref: '#/components/schemas/UpdateFlowTypeSet'
        web:
          $ref: '#/components/schemas/UpdateFlowTypeSet'
        linux:
          $ref: '#/components/schemas/UpdateFlowTypeSet'
        chromeos:
          $ref: '#/components/schemas/UpdateFlowTypeSet'
        chromeosweb:
          $ref: '#/components/schemas/UpdateFlowTypeSet'
    UpdateFlowTypeConfiguration:
      title: UpdateFlowTypeConfiguration
      description: Configuration for a specific flow type (update version)
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether the customer allows this flow type to be used.
        valid:
          type: boolean
          description: Whether the flow type is valid and expected on a given platform
    FlowTypeConfiguration:
      title: FlowTypeConfiguration
      description: Configuration for a specific flow type
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether the this flow type is allowed to be used.
        valid:
          type: boolean
          description: Whether the flow type is valid and expected on a given platform
      required:
      - enabled
      - valid
    ErrorDetail:
      title: Error Detail
      description: 'Additional details for errors designed to support client applications.

        '
      type: object
      discriminator:
        propertyName: type
      properties:
        type:
          type: string
          description: Type of the error detail.
      required:
      - type
    UpdateFlowTypeSet:
      title: UpdateFlowTypeSet
      description: Set of flow type configurations for a platform (update version)
      type: object
      properties:
        unknown:
          $ref: '#/components/schemas/UpdateFlowTypeConfiguration'
        scheme:
          $ref: '#/components/schemas/UpdateFlowTypeConfiguration'
        embedded:
          $ref: '#/components/schemas/UpdateFlowTypeConfiguration'
        copy:
          $ref: '#/components/schemas/UpdateFlowTypeConfiguration'
        roaming_auth:
          $ref: '#/components/schemas/UpdateFlowTypeConfiguration'
        android_autofill:
          $ref: '#/components/schemas/UpdateFlowTypeConfiguration'
        android_accessibility:
          $ref: '#/components/schemas/UpdateFlowTypeConfiguration'
        pipe:
          $ref: '#/components/schemas/UpdateFlowTypeConfiguration'
        localhost:
          $ref: '#/components/schemas/UpdateFlowTypeConfiguration'
        universal_link:
          $ref: '#/components/schemas/UpdateFlowTypeConfiguration'
        safari_extension:
          $ref: '#/components/schemas/UpdateFlowTypeConfiguration'
        layered_auth_qr_code:
          $ref: '#/components/schemas/UpdateFlowTypeConfiguration'
        secure_localhost:
          $ref: '#/components/schemas/UpdateFlowTypeConfiguration'
    FlowTypeSet:
      title: FlowTypeSet
      description: Set of flow type configurations for a platform
      type: object
      properties:
        unknown:
          $ref: '#/components/schemas/FlowTypeConfiguration'
        scheme:
          $ref: '#/components/schemas/FlowTypeConfiguration'
        embedded:
          $ref: '#/components/schemas/FlowTypeConfiguration'
        copy:
          $ref: '#/components/schemas/FlowTypeConfiguration'
        roaming_auth:
          $ref: '#/components/schemas/FlowTypeConfiguration'
        android_autofill:
          $ref: '#/components/schemas/FlowTypeConfiguration'
        android_accessibility:
          $ref: '#/components/schemas/FlowTypeConfiguration'
        pipe:
          $ref: '#/components/schemas/FlowTypeConfiguration'
        localhost:
          $ref: '#/components/schemas/FlowTypeConfiguration'
        universal_link:
          $ref: '#/components/schemas/FlowTypeConfiguration'
        safari_extension:
          $ref: '#/components/schemas/FlowTypeConfiguration'
        layered_auth_qr_code:
          $ref: '#/components/schemas/FlowTypeConfiguration'
        secure_localhost:
          $ref: '#/components/schemas/FlowTypeConfiguration'
      required:
      - unknown
      - scheme
      - embedded
      - copy
      - roaming_auth
      - android_autofill
      - android_accessibility
      - pipe
      - localhost
      - universal_link
      - safari_extension
      - layered_auth_qr_code
      - secure_localhost
    PlatformFlowTypeConfig:
      title: PlatformFlowTypeConfig
      description: Platform-specific flow type configurations
      type: object
      properties:
        android:
          $ref: '#/components/schemas/FlowTypeSet'
        macos:
          $ref: '#/components/schemas/FlowTypeSet'
        ios:
          $ref: '#/components/schemas/FlowTypeSet'
        windows:
          $ref: '#/components/schemas/FlowTypeSet'
        web:
          $ref: '#/components/schemas/FlowTypeSet'
        linux:
          $ref: '#/components/schemas/FlowTypeSet'
        chromeos:
          $ref: '#/components/schemas/FlowTypeSet'
        chromeosweb:
          $ref: '#/components/schemas/FlowTypeSet'
      required:
      - android
      - macos
      - ios
      - windows
      - web
      - linux
      - chromeos
      - chromeosweb
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'See the [Authentication](#section/Authentication) section for details.

        '
